{% extends 'index.html'%}

{# thumbnails #}
{%block thumbnails %}
    {% for painting in paintings%}
        {% if(loop.index0 == 0) %}
        <button type="button" data-bs-target="#carousel-painting" data-bs-slide-to="{{loop.index0}}" class="active"
        style="background-image: url({{url_for('static',filename = 'assets/artworks_compressed/'+painting['file'])}});">
        {% else %}
        <button type="button" data-bs-target="#carousel-painting" data-bs-slide-to="{{loop.index0}}" class=""
        style="background-image: url({{url_for('static',filename = 'assets/artworks_compressed/'+painting['file'])}});">
        {% endif %}
        </button>
    {%endfor%}
{%endblock%}

{# Carousel Items #}
{%block carousel_items %}
    {% for painting in paintings%}
        {% if(loop.index0 == 0) %}
        <div class="carousel-item active">
        {%else%}
        <div class="carousel-item">
        {%endif%}
            <div class="artwork-view container-flex mx-auto">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12 d-flex justify-content-center" id="">
                        <img class="painting img-fluid" src="{{url_for('static',filename = 'assets/artworks_compressed/'+painting['file'])}}" alt="">
                    </div>
                    <div class="col-md-6 col-12 mx-auto" id="details-div">
                        <h2 class="d-flex align-items-center justify-content-center" id="details">{{painting['name']}}</h2>
                        <p class="d-flex align-items-center justify-content-center" id="details">{{painting['size']}}</p>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{%endblock%}