{% extends 'index.html'%}

{# thumbnails #}
{%block thumbnails %}
    {% for name in files%}
        {% if(loop.index0 == 0) %}
        <button type="button" data-bs-target="#carousel-painting" data-bs-slide-to="{{loop.index0}}" class="active"
        style="background-image: url({{url_for('static',filename = 'assets/artworks/'+name)}});">
        {% else %}
        <button type="button" data-bs-target="#carousel-painting" data-bs-slide-to="{{loop.index0}}" class=""
        style="background-image: url({{url_for('static',filename = 'assets/artworks/'+name)}});">
        {% endif %}
        </button>
    {%endfor%}
{%endblock%}

{# Carousel Items #}
{%block carousel_items %}
    {% for file in files%}
        {% if(loop.index0 == 0) %}
        <div class="carousel-item active">
        {%else%}
        <div class="carousel-item">
        {%endif%}
            <div class="artwork-view container-flex mx-auto">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12 d-flex justify-content-center" id="">
                        {# <a href="{{url_for('static',filename = '/assets/artworks/'+file)}}" target="_blank" rel="noopener noreferrer"> #}
                            <img class="img-fluid" src="{{url_for('static',filename = '/assets/artworks/'+file)}}" alt="" id="painting" data-bs-target="#imageModal" data-bs-toggle="modal">
                        {# </a> #}
                    </div>
                    <div class="col-md-6 col-12 mx-auto" id="details-div">
                        <h2 class="d-flex align-items-center justify-content-center" id="details">{{names[loop.index0]}}</h2>
                        <p class="d-flex align-items-center justify-content-center" id="details">{{sizes[loop.index0]}}</p>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{%endblock%}